// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.custom-form {
  width: 391px;
  border: 1px solid rgba(0,0,0,.125);
  margin: auto;
  padding-bottom: 70px;
  margin-top: 70px;
  border-radius: 4px;
  background: beige;
}

.heading-align {
  text-align: center;
}

.custom-row {
  text-align: center;
}

.input-custom {
  width: 80%;
  padding: 12px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 4px;
  margin-top: 10px;

}

.submit-btn {
  float: right;
  margin-right: 28px;
  margin-top: 8px;
  background: #225a5d;
  padding: 11px 14px;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 15px;
}

.signup-path {
  margin-top: 19px;
  text-align: left;
  margin-left: 33px;
}
